In [13]:
import pandas as pd 

file_to_load = "/Users/tjeff/pandas-challenge/HeroesOfPymoli /pymoli.csv" 

pymoli_df = pd.read_csv(file_to_load) 
pymoli_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [14]:
player_count = pymoli_df["SN"].nunique()
player_count = pd.DataFrame ({"Player Count": [player_count]}) 

player_count

   Player Count
0           576

In [15]:
number_of_items = pymoli_df['Item Name'].nunique()
average_price = pymoli_df['Price'].mean()
total_purchases = pymoli_df['Purchase ID'].count()
total_revenue = average_price * total_purchases

In [16]:
summary_df = pd.DataFrame({
    "Number of Items": [number_of_items],
    "Average Price": [average_price],
    "Total Purchases": [total_purchases],
    "Total Revenue":[total_revenue]
    })

In [17]:
summary_df

   Number of Items  Average Price  Total Purchases  Total Revenue
0              179       3.050987              780        2379.77

In [18]:
gender_count= pymoli_df ['Gender'].value_counts(0)
gender_percentage= (pymoli_df['Gender']).value_counts(1)/(pymoli_df['SN'].count())

gender_count_df=pd.DataFrame({"Total Count": gender_count})
gender_percent_df = round(pd.DataFrame(gender_percentage) * 100, 2)
gender_count_df['Percentage of Players'] = gender_percentage

gender_count_df.colums= ['Percentage of Players' * 100, 'Total Count']
gender_count_df

<ipython-input-18-18a418da5501>:8: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  gender_count_df.colums= ['Percentage of Players' * 100, 'Total Count']

                       Total Count  Percentage of Players
Male                           652               0.001072
Female                         113               0.000186
Other / Non-Disclosed           15               0.000025

In [19]:
df_gender_2 = pymoli_df.groupby('Gender')

purchase_count = round(df_gender_2['Purchase ID'].count(), 0)
avg_purchase_price = round(df_gender_2['Price'].mean(), 2)
total_purchase_value = round(df_gender_2['Price'].sum(), 2)
purchase_value_per_gender = round(total_purchase_value / gender_count, 2)

summary_dataframe2 = pd.DataFrame([purchase_count, avg_purchase_price, total_purchase_value, purchase_value_per_gender])
summary2 = summary_dataframe2.T
summary2.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary2

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Female,113.0,3.20,361.94,3.20
Male,652.0,3.02,1967.64,3.02
Other / Non-Disclosed,15.0,3.35,50.19,3.35

In [28]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pymoli_df["Total Count"] = pd.cut(pymoli_df["Age"], bins, labels=bin_labels)
pymoli_df_age1 = pymoli_df[['Total Count','SN']].drop_duplicates(subset = 'SN')

age_demographics_summary = pymoli_df_age1.groupby("Total Count").count()
age_counts = age_demographics_summary['SN']
age_demographics_percentages = round(age_counts / 576 * 100, 2)
age_demographics_percentages

summary_dataframe3 = pd.DataFrame([age_counts, age_demographics_percentages])

summary_data = summary_dataframe3.T

summary_data.columns = ['Total Count', 'Percentage of Players']

summary_data.head()

             Total Count  Percentage of Players
Total Count
<10                 17.0                   2.95
10-14               22.0                   3.82
15-19              107.0                  18.58
20-24              258.0                  44.79
25-29               77.0                  13.37

In [29]:
pymoli_df['Age'].max()

bins = [0, 9, 14, 19, 24, 29, 34, 39, 150]
bin_labels = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

pymoli_df["Total Count"] = pd.cut(pymoli_df["Age"], bins, labels=bin_labels)
less_rows = pymoli_df[['Total Count','SN', 'Price']]

less_rows_grouped = less_rows.groupby('Total Count')
purchase_counts = less_rows_grouped['Price'].count()
average_prices = round(less_rows_grouped['Price'].mean(),2)
total_spent = round(less_rows_grouped['Price'].sum(), 2)
spending_per_person = round(total_spent/age_counts,2)


summary4 = pd.DataFrame([purchase_counts, average_prices, total_spent, spending_per_person])
summary4b = summary4.T
summary4b.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
summary4b.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Total Count,,,,
<10,23.0,3.35,77.13,4.54
10-14,28.0,2.96,82.78,3.76
15-19,136.0,3.04,412.89,3.86
20-24,365.0,3.05,1114.06,4.32
25-29,101.0,2.90,293.00,3.81

In [48]:
user_purchases_df = pymoli_df.groupby('SN')

purchases_by_user = user_purchases_df.sum()['Price']
average_purchase_by_user=user_purchases_df['Price'].mean()
total_purchases_by_user=user_purchases_df['Price'].sum() 

top_spenders = pd.DataFrame({"Purchase Count": purchases_by_user,
                             "Average Purchase Price": average_purchase_by_user,
                             "Total Purchase Value":purchases_by_user})


user_purchase_summary_df.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value']

user_purchase_summary_df.sort_values(by=['Total Purchase Value']).reset_index().tail ()

              SN  Purchase Count  Average Purchase Price  Total Purchase Value
571  Iskadarya95               3                    4.37                 13.10
572       Iral74               4                    3.40                 13.62
573   Chamjask73               3                    4.61                 13.83
574  Idastidru52               4                    3.86                 15.45
575    Lisosia93               5                    3.79                 18.96